<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" 
data-toggle="modal" data-target="#exampleModal"
(click)="addSiembra()" data-backdrop="static"
data-keyboard="false">
    Agregar Siembra
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" 
          data-dismiss="modal" aria-label="Close"
          (click)="closeClick()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-editar-siembras [sim] = "sim" *ngIf = "ActivateAddEditSiembra"></app-editar-siembras>
        </div>
  </div>

<table class="table table-striped">
    <thead>
        <th>Codigo</th>
        <th>Codigo Vereda</th>
        <th>Codigo Arbol</th>
        <th>Codigo Contratista</th>
        <th>Fecha</th>
        <th>Total Arboles</th>
        <th>Total Hectareas</th>
        <th>Opciones</th>
    </thead>
    <tbody>
        <tr *ngFor = "let data of siembrasList">
            <td>{{data.codigo}}</td>
            <td>{{data.codigo_vereda}}</td>
            <td>{{data.codigo_arbol}}</td>
            <td>{{data.codigo_contratista}}</td>
            <td>{{data.fecha}}</td>
            <td>{{data.total_arboles}}</td>
            <td>{{data.total_hectareas}}</td>
            <td>
                <button type="button" class="btn btn-primary mr-1">
                    Editar
                </button>
                <button type="button" class="btn btn-danger mr-1">
                    Eliminar
                </button>
            </td>
        </tr>
    </tbody>
</table>
